:root {
  /* text color */
  --main-font: 'Roboto';
  --secondary-font: 'Raleway';
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
}

/* common style stars */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 1px solid tomato; */
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Reset */
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Heder section */
.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header .header-logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}

.header-logo {
  margin-right: 93px;
}

.span {
  color: #2196f3;
}

.header-list {
  display: flex;
  flex-wrap: wrap-reverse;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-group {
  margin-left: auto;
  display: flex;
}

.header-contact-svg {
  fill: currentColor;
  margin-right: 10px;
  text-align: center;
}

.header-group-mail {
  margin-right: 50px;
}

.header-contact {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.header-contact:hover,
.header-contact:focus {
  color: #2196f3;
}

.header {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

/* Hero Section */

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/unique-content/img_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-h1 {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.hero .button {
  font-family: 'roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  margin-top: 30px;
  width: 200px;
  height: 50px;
}

.hero .button:hover,
.hero .button:focus {
  background-color: #188ce8;
}

/* Peculiarities section */

.pecul-item {
  display: flex;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-right: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
}

.pecul-list {
  display: flex;
}

.peculiarities {
  padding-top: 94px;
}

.container-peculiarities-text {
  padding-top: 30px;
}

.about-h3 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 25px;
}

.about-p {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.about-container {
  display: flex;
}
.list .about-item {
  margin-right: 30px;
  width: 270px;
}

.list .about-item:nth-child(4n) {
  margin-right: 0;
}

/* Services section */

.services {
  padding-top: 94px;
  padding-bottom: 94px;
}

.services-h2 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.services-list {
  display: flex;
  margin-top: 50px;
}

.services-item:not(:last-child) {
  margin-right: 30px;
}

/* Team section */
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list {
  margin-top: 50px;
  display: flex;
}
.team-item {
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.team-item:nth-child(4n) {
  margin-right: 0px;
}
.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.list-icon {
  display: flex;
  margin-top: 16px;
  align-items: center;
  justify-content: center;
}
.team-icon-a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
}

.team-icon-a:hover,
.team-icon-a:focus {
  background-color: #2196f3;
  color: white;
}
.team-icon-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.team-h3 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}
.team-p {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin-top: 10px;
}

/* Portfolio */

.portfolio-list {
  display: flex;
  justify-content: center;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-item {
  margin-right: 8px;
}

.portfolio .button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;

  color: #212121;
  background-color: #f5f4fa;

  cursor: pointer;
}

.portfolio .button:hover,
.portfolio .button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.pictures-item {
  cursor: pointer;
}

.pictures-item:hover,
.pictures-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.text {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Pictures */

.pictures-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.pictures-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.pictures-item > .pictures-title-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.pictures-item:nth-child(3n) {
  margin-right: 0;
}
.pictures-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.pictures-img {
  display: block;
}
/* Customers */

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers-list {
  display: flex;
  margin-top: 50px;
}

.customers-item {
}

.customers-item:not(:last-child) {
  margin-right: 30px;
}

.customers-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}

.customers-icon-button:hover,
.customers-icon-button:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.customers-icon-button-svg {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* Footer */
.footer {
  background-color: #2f303a;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-adress-all {
  display: flex;
}

.footer .logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #f5f4fa;
}

.footer .span {
  color: #2196f3;
}

.footer .address {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer .contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact:hover,
.contact:focus {
  color: #2196f3;
}

.footer-address {
  margin-top: 20px;
}
.footer-address-title {
  margin-bottom: 9px;
}
.footer-list-item {
  display: block;
  margin-bottom: 9px;
}

.footer-h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 156px;
}

.footer-had {
  display: flex;
  align-items: baseline;
}

.footer-soucial {
  margin-left: 85px;
  margin-top: 20px;
}
.list-icon-f {
  display: flex;
  justify-content: center;
}
.team-icon-svg-f {
  fill: #ffffff;
}
.team-item-icon-f:not(:last-child) {
  margin-right: 10px;
}
.team-icon-a-f {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.team-icon-a-f:hover,
.team-icon-svg-f:hover,
.team-icon-a-f:focus,
.team-icon-svg-f:focus {
  background-color: #2196f3;
}
